{% load static %}
<script type="text/javascript" src="{% static 'echarts.js' %}"></script>
<script type="text/javascript" src="{% static 'shine.js' %}"></script>
<script type="text/javascript" src="{% static 'grap.js' %}"></script>
<script type="text/javascript" src="{% static 'jq.js' %}"></script>
<script type="text/javascript" src="{% static 'hui.js' %}"></script>
<script type="text/javascript" src="{% static 'datepiker.js' %}"></script>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'hui.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'main.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'datepiker.css' %}"/>

<div class="cl">
<div class="menuLeft f-l" style="width:10%;height:99%;border:1px solid #ccc;">
    <div class="" style="padding:300px 0 0 0;">
  <span class="custombtn">上边按钮</span>
  <span class="custombtn">中间按钮</span>
  <span class="custombtn">中间按钮</span>
  <span class="custombtn">下边按钮</span>
</div>
</div>
<div class="contentBox f-r" style="width:89%;height:99%; padding-top:5px;">
    <div class="searchBarTop" style="height:5%;border:1px solid #ccc">
	    <label for="dateStart">起始日期：</label>
	    <input type="text" value="2012-05-15 21:05" id="dateStart">
	    <label for="dateStart">结束日期：</label>
	    <input type="text" value="2012-05-15 21:05" id="dateEnd">
		<span class="btn btn-secondary radius">搜索</span>
	</div>
    <div id="topBox" style="height:45%;border:1px solid #ccc; margin-top:5px;"></div>
	<div style="width:99%;height:45%;margin-top:5px;">
        <div id="btmLeftBox" style="border:1px solid #ccc;height:100%;width:49%;float:left"></div>
        <div id="btmRightBox" style="border:1px solid #ccc;height:100%;width:49%;float:right"></div>
	</div>
</div>
</div>

<script type="text/javascript">
    var dataAxis = {{ dataAxis|safe }}; 
    var data = {{ data|safe }}; 
    var yMax = {{ yMax|safe }}; 
    var dataShadow = {{ dataShadow|safe }}; 

    for (var i = 0; i < data.length; i++) {
        dataShadow.push(yMax);
    }

    var myChart = echarts.init(document.getElementById('topBox'), 'shine');
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'SSDB Performance',
            subtext: 'Per Thread Performance'
        },
        tooltip: {
            show: true,
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data: ['Thread Speed Bar', 'Thread Speed Line']
        },
        xAxis: {
            axisLabel: {
                textStyle: {
                    color: '#3f2155'
                },

            },
            data: dataAxis,
            axisTick: {
                show: false
            },
            axisLine: {
                show: false
            }
        },
        yAxis: {
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                textStyle: {
                    color: '#999'
                }
            }
        },
        dataZoom: [
            {
                type: 'inside'
            }
        ],
        series: [
            { // For shadow
                type: 'bar',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.05)'}
                },
                barGap: '-100%',
                barCategoryGap: '60%',
                data: dataShadow,
                animation: false
            },
            {
                name: 'Thread Speed Bar',
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#83bff6'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#188df0'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#2378f7'},
                                {offset: 0.7, color: '#2378f7'},
                                {offset: 1, color: '#83bff6'}
                            ]
                        )
                    }
                },
                data: data
            },
            {
                name: 'Thread Speed Line',
                type: 'line',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            1, 0, 0, 0,
                            [
                                {offset: 0, color: '#83bff6'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#188df0'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            1, 0, 0, 0,
                            [
                                {offset: 0, color: '#2378f7'},
                                {offset: 0.7, color: '#2378f7'},
                                {offset: 1, color: '#83bff6'}
                            ]
                        )
                    }
                },
                data: data
            }
        ]
    };

    for (var i = 0; i < data.length; i++) {
        dataShadow.push(40);
    }

    var zoomSize = 6;
    myChart.on('click', function (params) {
        console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
        myChart.dispatchAction({
            type: 'dataZoom',
            startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
            endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
        });
    });

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
var myChart1 = echarts.init(document.getElementById('btmLeftBox'), 'shine');
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'SSDB Performance',
            subtext: 'Per Thread Performance'
        },
        tooltip: {
            show: true,
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data: ['Thread Speed Bar', 'Thread Speed Line']
        },
        xAxis: {
            axisLabel: {
                textStyle: {
                    color: '#3f2155'
                },

            },
            data: dataAxis,
            axisTick: {
                show: false
            },
            axisLine: {
                show: false
            }
        },
        yAxis: {
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                textStyle: {
                    color: '#999'
                }
            }
        },
        dataZoom: [
            {
                type: 'inside'
            }
        ],
        series: [
            { // For shadow
                type: 'bar',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.05)'}
                },
                barGap: '-100%',
                barCategoryGap: '60%',
                data: dataShadow,
                animation: false
            },
            {
                name: 'Thread Speed Bar',
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#83bff6'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#188df0'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#2378f7'},
                                {offset: 0.7, color: '#2378f7'},
                                {offset: 1, color: '#83bff6'}
                            ]
                        )
                    }
                },
                data: data
            },
            {
                name: 'Thread Speed Line',
                type: 'line',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            1, 0, 0, 0,
                            [
                                {offset: 0, color: '#83bff6'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#188df0'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            1, 0, 0, 0,
                            [
                                {offset: 0, color: '#2378f7'},
                                {offset: 0.7, color: '#2378f7'},
                                {offset: 1, color: '#83bff6'}
                            ]
                        )
                    }
                },
                data: data
            }
        ]
    };

    for (var i = 0; i < data.length; i++) {
        dataShadow.push(40);
    }

    var zoomSize = 6;
    myChart.on('click', function (params) {
        console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
        myChart.dispatchAction({
            type: 'dataZoom',
            startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
            endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
        });
    });

    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option);
    
    var myChart2 = echarts.init(document.getElementById('btmRightBox'), 'shine');
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'SSDB Performance',
            subtext: 'Per Thread Performance'
        },
        tooltip: {
            show: true,
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data: ['Thread Speed Bar', 'Thread Speed Line']
        },
        xAxis: {
            axisLabel: {
                textStyle: {
                    color: '#3f2155'
                },

            },
            data: dataAxis,
            axisTick: {
                show: false
            },
            axisLine: {
                show: false
            }
        },
        yAxis: {
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                textStyle: {
                    color: '#999'
                }
            }
        },
        dataZoom: [
            {
                type: 'inside'
            }
        ],
        series: [
            { // For shadow
                type: 'bar',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.05)'}
                },
                barGap: '-100%',
                barCategoryGap: '60%',
                data: dataShadow,
                animation: false
            },
            {
                name: 'Thread Speed Bar',
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#83bff6'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#188df0'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#2378f7'},
                                {offset: 0.7, color: '#2378f7'},
                                {offset: 1, color: '#83bff6'}
                            ]
                        )
                    }
                },
                data: data
            },
            {
                name: 'Thread Speed Line',
                type: 'line',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            1, 0, 0, 0,
                            [
                                {offset: 0, color: '#83bff6'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#188df0'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            1, 0, 0, 0,
                            [
                                {offset: 0, color: '#2378f7'},
                                {offset: 0.7, color: '#2378f7'},
                                {offset: 1, color: '#83bff6'}
                            ]
                        )
                    }
                },
                data: data
            }
        ]
    };

    for (var i = 0; i < data.length; i++) {
        dataShadow.push(40);
    }

    var zoomSize = 6;
    myChart.on('click', function (params) {
        console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
        myChart.dispatchAction({
            type: 'dataZoom',
            startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
            endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
        });
    });

    // 使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option);
</script>